# ==========================================
# 🧱 Dependencias
# ==========================================
/node_modules
/vendor

# ==========================================
# ⚙️ Archivos de configuración y sistema
# ==========================================
*.log
.DS_Store
Thumbs.db
/.idea
/.vscode

# ==========================================
# 🔐 Archivos de entorno (variables y claves)
# ==========================================
.env
.env.*
*.key
*.pem

# ==========================================
# 🗂️ Archivos y carpetas públicas generadas
# ==========================================
/public/storage
/public/build
/public/hot

# ==========================================
# 💾 Archivos de almacenamiento interno
# ==========================================
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# ==========================================
# 🧪 Testing y caché
# ==========================================
.phpunit.result.cache
/bootstrap/cache/*

# ==========================================
# 🏠 Archivos de Homestead (entorno local)
# ==========================================
Homestead.json
Homestead.yaml

# ==========================================
# 📦 Archivos de bloqueo de dependencias
# ==========================================
composer.lock
package-lock.json
git config core.fileMode false